@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/source-sans-pro.woff2') format('woff2'), 
         url('fonts/source-sans-pro.woff') format('woff'); 
}

@font-face {
    font-family: 'Spin Cycle';
    src: url('fonts/spin-cycle.woff2') format('woff2'), 
         url('fonts/spin-cycle.woff') format('woff'); 
}

:root {
    --text-color: #FFF;
    --font-family-body: 'Source Sans Pro', sans-serif;
    --color-primary: #FF6565;
  }

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--text-color);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px; 
   
}

.background {
    background-size: cover;
    background-position: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px; /* Default padding for non-tablet sizes */
}

.header .img {
    margin: 0;

}

.headerlinks ul {
    list-style-type: none;
    padding: 0;
}

.headerlinks li {
    display: inline;
    margin: 0 5px; /* Default margin for non-tablet sizes */
}

.headerlinks a {
    color: white;
    text-decoration: none;
    font-family: var(--font-family-body);
}

a:hover,
a:active {
    color: #FF6565; /* Change the link color on hover and active state */
}

/*main*/

main {
    padding: 10px; 
    color: var(--text-color);
    margin-top: 30%;
}



@media screen and (min-width: 481px) and (max-width: 1024px) {


    .background {
        background-size: cover;
        background-position: center;
      }
      

    .header {
        padding: 15px; 
    }

    .headerlinks li {
        margin: 0 10px;
        
    }
    
    .content .h1 {
    justify-content: center;
    color: var(--text-color);
    text-align: center;
    font-family: var(--font-family-body);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 20%;
    }
    
    .inner-header p {
    color: var(--text-color);
    font-family: var(--font-family-body);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;

    }
    
    .hero-text p {
    color: var(--text-color);
    font-family: var(--font-family-body);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-left: 10%;
    }
    
    .custom-button {
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    border-radius: 22px;
    background: #FF6565;
    width: 162px;
    height: 44px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    margin-top: 40px;
    margin-left: 40%;
    }
}
