
.container {
    max-width: 1000px;
    margin: 0 auto; /* Center aligns the container */
    padding: 10px; /* Add padding inside the container */
    box-sizing: border-box;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    /* Styles for tablets */

body {
    color: blue;
  
}   
}